# Autosave files
*~

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
.vs/

# Mac bundle stuff
*.dmg
*.app

# Xcode
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.xcscmblueprint
*.xcuserstate
xcuserdata/

# CI
reports
build
